iframe {
    width: 40vw;
    height: 50em;
    margin: 0 10px 0 70px;
}

.contact-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20;
}

.sec-title {
    margin-bottom: 2rem;
}

.form__txtarea,
.form__inp {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    padding: 1rem 0;
    font-family: "SVN-Futura light", sans-serif;
    margin-bottom: 2rem;
    transition: 0.2s linear;
    outline: none;

}

.row {
    display: flex;
    flex-direction: row;
}

.form__txtarea {
    border: 1px solid #c0c0c0;
    padding: 10px;
    border-radius: 2px;
}

.col-6 {
    width: 50%;
    margin-right: 10px;
}

.btn-pri {
    display: block;
    width: 200px;
    max-width: 100%;
    position: relative;
    background-color: #47474c;
    z-index: 1;
    line-height: 1.5;
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid #47474c;
}

.btn-pri:hover {
    cursor: pointer;
}