
<body>
    <div>
        <div class="container ">
            <div style="text-align: center;">
                <h2 style="font-size: 39px;">        [Js Beginner] Bí Quyết Học Lập Trình Web Đi Làm Cho Người Mới Bắt Đầu
                </h2>
    
                <div class="mt-5">
                    <h5 style="font-size: 32px;">Tiết lộ bí mật giúp bạn có thu nhập 8 đến 30 triệu mỗi tháng từ kỹ năng lập trình web ngay cả khi bạn chưa biết về lập trình.</h5>
                </div>
            </div>
            <div class="row mt-5">
              <div class="col-6">
                <img src="../img/th (5).jpg" alt="">
              </div>
              <div class="col-6">
                <img src="../img/th2.jpg" alt="">
              </div>
            </div>
            <div class="mt-5">
                <div>
                    Tôi là Phan Văn Cương, trong suốt những năm qua khi tôi chia sẻ kinh nghiệm lập trình web tôi nhận ra rằng rất nhiều người muốn học lập trình web để đi làm và phát triển sự nghiệp. Tuy nhiên phần đa trong số đó các bạn đang gặp bế tắc, không biết học thế nào để hiệu quả và rất nhiều người thất nghiệp. 
                </div>
                <br>
                <div>
                    Chính vì vậy tôi đã giành 10 ngày liên tục viết ra cuốn Ebook này để chia sẻ những kinh nghiệm giúp bạn nhìn thấy một tấm bản đồ rõ ràng để từ đó có thể từng bước phát triển theo nghề lập trình web dễ dàng hơn và tránh những sai lầm không đáng có.
                </div>
                <br>
                <div>
                    Những chia sẻ ở bên trong là trải nghiệm cá nhân tôi trong suốt 10 năm qua và đã giúp đỡ, dẫn dắt trên 2.986 người từ bế tắc giờ đã có kỹ năng và có công việc tốt. Bạn cần đăng ký ngay trong khi nó miễn phí…và áp dụng sớm.
                </div>
                <br>
                <div>
                    Hẹn gặp lại bạn ở bên trong…
                </div>
                <br>
                <div>
                    Phan Văn Cương – Unitop.vn
                </div>
            </div>
        </div>
    </div>
</body>