<body>
    <div>
        <div class="mt-3 ml-5" style="text-align: center;">
            <h2>Live Learning Unitop</h2>
        </div>
        <br>
        <div class="container ">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lúc</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Gmail</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Bài học</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listStudents">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{x.time}}</td>
                            <td>{{x.name}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phoneNumber}}</td>
                            <td>{{convertToString(x.subject)}}</td>
                            <td>
                                <button class="btn-success" ng-click="updateStudentScreen(x.id)">Update</button>
                                <button class="btn-danger" ng-click="deleteStudent(x.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Remove the container if you want to extend the Footer to full width. -->

        <!-- End of .container -->
    </div>
</body>